body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #24388B;
}

.container {
    background-color: #e3dddd;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

form {
    text-align: left;
}

.btn-custom {
    border-radius: 10px;
}
